################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.nupkg
*.pdb
*.cache
/test/Sandbox/obj/Debug
/test/Service/TestService.Client/bin
/test/Service/TestService.Core/bin
/test/Service/TestService.Client/obj
/test/Service/TestService.Core/obj
/test/Service/TestService.IIS.Wcf/bin
/test/Service/TestService.Server/bin
/test/Service/TestService.Server/obj
/test/Service/TestService.Server.Wcf/bin
/test/Service/TestService.IIS.Wcf/obj
/test/Service/TestService.Server.Wcf/obj
/Bolt.v12.suo
/Bolt.sln.DotSettings.user
/test/Service/TestService.IIS.Bolt/obj
/test/Service/TestService.IIS.Bolt/bin
/test/Console/Bolt.Console.Test.Contracts/obj
/test/Sandbox/bin
/test/Automatic/Bolt.Service.Test.Core/bin
/test/Automatic/Bolt.Service.Test.Core/obj
/test/Automatic/Bolt.Service.Test/obj
/test/Automatic/Bolt.Service.Test/bin
/src/Bolt.Server/obj
/src/Bolt.Generators/obj
/src/Bolt.Core/obj
/src/Bolt.Core.Serialization/obj
/packages/protobuf-net.2.0.0.668/lib
/packages
/src/Bolt.Client/bin
/src/Bolt.Client/obj
/src/Bolt.Console/bin
/src/Bolt.Console/obj
/src/Bolt.Server/bin
/src/Bolt.Core.Serialization/bin
