################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/src/Bolt.Client/bin/Debug
/src/Bolt.Client/obj/Debug
/src/Bolt.Core/bin/Debug
/src/Bolt.Core/obj/Debug
/src/Bolt.Generators/bin/Debug
/src/Bolt.Generators/obj/Debug
/src/Bolt.Server/bin/Debug
/src/Bolt.Server/obj/Debug
/test/Sandbox/bin/Debug
/test/Sandbox/obj/Debug
/test/Service/TestService.Client/bin/Debug
/test/Service/TestService.Client/obj/Debug/TempPE
/test/Service/TestService.Client/obj/Debug
/test/Service/TestService.Core/bin/Debug
/test/Service/TestService.Core/obj/Debug
/test/Service/TestService.IIS.Bolt/bin
/test/Service/TestService.IIS.Bolt/obj/Debug
/test/Service/TestService.IIS.Wcf/bin
/test/Service/TestService.IIS.Wcf/obj/Debug
/test/Service/TestService.Server/bin/Debug
/test/Service/TestService.Server/obj/Debug
/test/Service/TestService.Server.Wcf/bin/Debug
/test/Service/TestService.Server.Wcf/obj/Debug
