<#@ import namespace="TestService.Core" #>
<#@ include file="$(SolutionDir)src\Bolt.Generators\Generator.tt" #>
<#@ assembly name="$(SolutionDir)test\Service\TestService.Core\bin\$(Configuration)\TestService.Core.dll" #>
<#  
	var result = Create(Contracts.PersonRepository)
					.StatefullClient(null, true)
					.Async(true)
					.GetResult();
	Write(result);
#>