<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonRepository" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPersonRepository"
                contract="TestService.Core.IPersonRepository" name="BasicHttpBinding_IPersonRepository" />
        </client>
    </system.serviceModel>
</configuration>