<#@ import namespace="TestService.Core" #>
<#@ include file="$(SolutionDir)src\Bolt.Generators\Generator.tt" #>
<#@ assembly name="$(SolutionDir)test\Service\TestService.Core\bin\$(Configuration)\TestService.Core.dll" #>
<#  
	string result =	Create(Contracts.PersonRepository)
					.Contract()
					.Descriptor()
					.GetResult();

    Write(result);
#>